body {
    background-color: bisque;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
    
}
h1 {
    text-align: center;
    background-color:darksalmon;
    margin-top: 0;
    padding: 20px;
}
div {
    display: block;
    
    text-align: center;
    
}
img {
    width: 500px;
    height: auto;
    margin-top: 30px;
}


.hdlasagna, .hdpancakes, .hdcoconutsoup {
text-align: center;

}

.section_one {
    display:block;
    
    
    
}
.ingredients {
    text-align: center;
    font-size: 26px;  
    
}

.section_two {
    display: block;
    
    
}
.hdsteps {
    text-align: center;
    font-size: 26px;
}
.recipe {
    
    
    list-style: none;
    margin: auto;
    text-align: center;
    
}

ol {
    
    text-align: center;
    padding: 10px;
    
    list-style: none;
    
}
.food {
    margin: 10px;
    display: block;
}
footer {
    width: 100%;
    height: 3rem;
    background-color:darkgrey;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    
}

 .footerindex {
    bottom: 0;
    position: absolute;
 }   


    

    
